Домашнее задание

Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

***Задание 1 Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.***

In [1]:
""" 

Для задания №1 была использована малая БД, скачанная с ресурса
https://grouplens.org/datasets/movielens/ 
Small: 100,000 ratings and 3,600 tag applications applied to 
9,000 movies by 600 users. Last updated 9/2018.


"""
%time
import pandas as pd
movies = pd.read_csv('movies.csv', usecols=['movieId', 'title'])
ratings = pd.read_csv('ratings.csv',usecols=['movieId', 'rating'])

five_stars = ratings[ratings.rating == 5.0]
maximum_five_stars = five_stars.movieId.value_counts().index[0]
film_name = movies[ (movies['movieId'] == maximum_five_stars)]
film_name

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 6.2 µs

     movieId                             title
277      318  Shawshank Redemption, The (1994)

***Задание 2 По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.***

In [2]:
%time
power = pd.read_csv('power.csv')
power.head()
# 	country	year	quantity	category
baltic_states = power[
    (power['country'] == 'Latvia') | 
    (power['country'] == 'Lithuania') | 
    (power['country'] == 'Estonia')]
baltic_cats = baltic_states[(baltic_states.category == 4) |
              (baltic_states.category == 12)|
              (baltic_states.category == 21)
             ]               
baltic_years = baltic_cats[(baltic_cats.year >= 2005)&
                           baltic_cats.year <= 2010
             ]       
baltic_quantities = baltic_years[baltic_years.quantity > 0.0]
total_consumption = baltic_quantities.quantity.sum()
print(f'Суммарное потребление стран Прибалтики за период с 2005 по 2010 = {total_consumption} единиц')

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs
Суммарное потребление стран Прибалтики за период с 2005 по 2010 = 970728.0 единиц

***Задание 3 Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes www.finanz.ru...om-vremeni***

In [3]:
pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  84.69       1.67          2.01        NaN
1       USDRUB Курс рубля к доллару  72.53      -0.51         -0.70        NaN